{% extends "base.html" %}
{% load static %}
{% block title %}О технологиях{% endblock %}
{% block content %}
  <div class="row">
    <!-- Левый вспомогательный блок -->
    <div class="col-md-3 mb-3 mt-1">
      <div class="card">
        <div class="card-body">
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              <div class="h4">
                Использованы
              </div>
            </li>
            <li class="list-group-item">
              <div class="h6 text-muted">
                <a href="https://www.python.org/">Python 3.8</a><br>
                <a href="https://www.djangoproject.com/">Django 4.0</a><br>
                <a href="https://www.pythonanywhere.com/">pythonanywhere</a><br>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <!-- Тело страницы -->
    <div class="col-md-9">
      <div class="card-body">
        <div class="card-text">
          <p> И, конечно, основной девайс: </p>
          <img src={% static 'img/divan.jpg' %}
                     height='500' weight='500' alt='device'>
        </div>
      </div>
    </div>
  </div>
{% endblock %}